<div class="container-fluid" *ngIf="ads">
  <div class="row">
    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-10 col-md-10">

      <div class="card card-ads" id="{{ ad.id }}" *ngFor="let ad of ads">
        <div class="image">
          <img src="assets/img/ads/{{ ad.imgs[0] }}" />
        </div>
        <div class="info">
          <div class="info-top">
            <h2 class="title">{{ ad.title }}</h2>
            <p class="description text-left">{{ ad.description }}</p>
          </div>
          <div class="info-bottom row">
            <div class="col-sm-8">
              <ul>
                <li>
                  <i class="ti-user" title="Auteur"></i><p>{{ ad.ref_user.fullname }}</p>
                </li>
                <li>
                  <i class="ti-eye" title="Vues"></i><p>110</p>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 text-right">
              <a [routerLink]="[ad.id]" class="btn btn-primary" href="#">
                Détails <span class="ti-angle-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
