<div class="container-fluid home">
  <div [ngStyle]="{'max-width': '100%', 'margin-bottom': '20px'}">
    <owl-carousel
      [options]="sliderOptions"
      [items]="slides"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let slide of slides;let i = index">
        <div class="thumbnail-image">
          <img [src]="slide" />
        </div>
      </div>
    </owl-carousel>
  </div>

  <div class="row">
    <div class="col-md-{{viewLoginForm  ? '12' : '6'}} last-ads">
      <h2>Dérniere annonces</h2>
      <div class="card card-ads" id="{{ ad.id }}" *ngFor="let ad of ads">
        <div class="image">
          <img src="assets/img/ads/{{ ad.imgs[0] }}" />
        </div>
        <div class="info">
          <div class="info-top">
            <h2 class="title">{{ ad.title }}</h2>
            <p class="description text-left">{{ ad.description }}</p>
          </div>
          <div class="info-bottom row">
            <div class="col-sm-8">
              <ul>
                <li>
                  <i class="ti-user" title="Auteur"></i><p>{{ ad.ref_user.fullname }}</p>
                </li>
                <li>
                  <i class="ti-eye" title="Vues"></i><p>110</p>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 text-right">
              <a class="btn btn-primary" [routerLink]="['/ads/'+ ad.id ]">
                Détails <span class="ti-angle-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!viewLoginForm" class="col-md-6 login">
      <h2>Connetctez-vous</h2>
      <div class="card">
        <div class="icon">
          <span class="ti-user"></span>
        </div>
        <div class="content">

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" formControlName="username" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group text-center">
              <button [disabled]="!loginForm.valid" class="btn btn-success btn-fill">Connectez</button>
              <a href="/" class="btn btn-success">Nouveau compte</a>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
