<div class="container-fluid" *ngIf="adsDetails">
  <div class="row">

    <div class="card card-ads__details">
      <div class="images col-lg-4 col-md-4">
        <img src="assets/img/ads/{{ img }}" *ngFor="let img of adsDetails.imgs"/>
      </div>
      <div class="info col-lg-8 col-md-8">
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><h2>{{adsDetails.title}}</h2></td>
              </tr>
              <tr>
                <td><p><strong>Description :</strong> {{ adsDetails.description }}</p></td>
              </tr>
              <tr>
                <td><p><strong>Poids :</strong> {{ adsDetails.ref_product.weight }}</p></td>
              </tr>
              <tr>
                <td><p><strong>Quantitée :</strong> {{ adsDetails.ref_product.quantity }}</p></td>
              </tr>
              <tr>
                <td><p><strong>Catégorie :</strong> {{ adsDetails.ref_product.category }}</p></td>
              </tr>
              <tr>
                <td><p><strong>Ville :</strong> {{ adsDetails.city }}</p></td>
              </tr>
              <tr>
                <td><p><strong>Pays :</strong> {{ adsDetails.country }}</p></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card card-map">
            <div style="height: 300px;" leaflet [leafletOptions]="mapOptions">
            </div>
        </div>

        <ul>
          <li>
            <i class="ti-user" title="Auteur"></i><p>{{ adsDetails.ref_user.fullname }}</p>
          </li>
          <li>
            <i class="ti-eye" title="Vues"></i><p>110</p>
          </li>
        </ul>

        <div class="group-btn">
          <button class="btn btn-success">Modifier l'annonce</button>
        </div>

      </div>
    </div>

  </div>
</div>
