<div class="container-fluid">

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#login">Connectez</a></li>
    <li><a data-toggle="tab" href="#new">Nouveau compte</a></li>
  </ul>

  <div class="tab-content">
    <div id="login" class="tab-pane fade in active">
      <div class="row">
        <div class="col-lg-10 col-md-10">

          <div *ngIf="!viewLoginForm" class="login">
            <h2>Connetctez-vous</h2>
            <div class="card">
              <div class="content">


                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="username" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control border-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button [disabled]="!loginForm.valid" class="btn btn-success btn-fill">Connectez</button>
                    <a href="/" class="btn btn-success">Nouveau compte</a>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="new" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

</div>
